.container{
  /* background-color: yellow; */
  display: grid;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

.navbar{
  background-color: yellow;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-end: 2;
}
.header{
  background-color: yellow;
  grid-column-start: 2;
  grid-row-end: 1;
  grid-row-end: 2;
  grid-column-end: 6;
}
.article{
    background-color: yellow;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-end: 5; 
}
.Ad{
  background-color: yellow;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}
.footer{
  background-color: yellow;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 6;
}
